p {
    margin: 0;
}
article {
    background-color: white;
    text-shadow: none;
    color: black;
    padding: 5px;
    margin: 10px 0;
    border: 2px solid darkgreen;
}
main {
    margin: 0 15%;
}

