article {
    background-image: url(../images/backgrounds/article.png);
    padding: 2px;
    margin: 10px auto;
    max-width: 900px;
}
main article img {
    width: 90%;
}
main a {
    padding: 5px;
    background-color: antiquewhite;
}