@font-face {
    font-family: Chicago;
    src: url('../resources/ChicagoFLF.ttf');
}
html {
    font-family: Chicago;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: x-large;
}
body {
    margin: 0;
    background-image: url(../images/backgrounds/catGround.png);
}
header {
    padding-top: 5px;
    background-image: url(../images/backgrounds/circuit.png);
    color: antiquewhite;
}
header a {
    color:rgb(255, 255, 0);
}
.main {
    background-image: url(../images/backgrounds/article.png);
    margin: 0 10%;
    max-width: 900px;
    margin: auto;
}
main a {
    color: rgb(140, 0, 255);
}
main a img {
    width: 150px;
}
main img {
    width: 90%;
    padding-top: 2%;
}
.article {
    background-color: antiquewhite;
    margin: 15px;
}
footer {
    color: rgb(255, 255, 255);
    bottom: 0;
}
.boxLink {
    background-color: black;
    display: inline-table;
    padding: 10px 10px 0 ;
    height: 50px;
    margin: 10px;
    font-size: medium;
}
.button {
    background-color: black;
    display: inline-table;
    padding: 10px 10px 0 ;
    margin: 10px;
    font-size: medium;
}
.button img {
    width: 88px;
}
.boxLink img {
    width: 200px;
}
.video {
    display: contents;
}
iframe {
    aspect-ratio: 4/3;
    width: 90%;
}
.homeImage {
    width: 30%;
}

