@font-face {
    font-family: Chicago;
    src: url('../resources/ChicagoFLF.ttf');
}
@media screen and (min-width: 1020px){
    body {
        font-size: large;
    }
    main {
        margin: 0 10%;
    }
    header {
        background-image: url(../images/backgrounds/circuit.png);
        padding-top: 1px;
    }
    main article {
        font-size: large;
    }
}
html {
    font-family: Chicago;
    text-align: center;
    font-size: x-large;
}
body {
    margin: 0;
    background-image: url(../images/backgrounds/catGround.png);
    color: antiquewhite;

}
header {
    background-image: url(../images/backgrounds/circuit.png);
    padding: 10px 0 0;
}
footer {
    color: black;
    bottom: 0;
}

a {
    color:rgb(255, 255, 0);
}
main a {
    color: rgb(140, 0, 255);
}
main a img {
    width: 300px;
}
h1 {
    color: antiquewhite;
}
.article {
    margin: 15px;
}
.main {
    background-image: url(../images/backgrounds/article.png);
    margin: 0 10%;
    max-width: 900px;
    margin:auto;
    color: rgb(0, 0, 0);
}
.katie {
    width: 90%;
    padding-top: 2%;
}

.boxLink {
    background-color: black;
    display: inline-table;
    padding: 10px 10px 0 ;
    height: 50px;
    margin: 10px;
    font-size: medium;
    text-shadow: none;
}
.button {
    background-color: black;
    display: inline-table;
    padding: 10px 10px 0 ;
    margin: 10px;
    font-size: medium;
    text-shadow: none;
}
.button img {
    width: 88px;
}
.boxLink img {
    width: 200px;
}
.video {
    display: contents;
}
iframe {
    aspect-ratio: 4/3;
    width: 90%;
}
.homeImage {
    width: 30%;
}
main p {
    margin: auto;
}
.blinkie {
    width: 300px;
}
.eightyEightButton {
    height: 31px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}
.thought p {
    margin: 15px auto;
    max-width: 900px;
    padding: 30px;
    border: 3px solid black;
    border-radius: 100px;
}
.boxLink {
    background-color: black;
    display: inline-table;
    padding: 10px 10px 0 ;
    height: 50px;
    margin: 10px;
    font-size: medium;
}
.button {
    background-color: black;
    display: inline-table;
    padding: 10px 10px 0 ;
    margin: 10px;
    font-size: medium;
}
.button img {
    width: 88px;
}
.boxLink img {
    width: 200px;
}
.video {
    display: contents;
}
iframe {
    aspect-ratio: 4/3;
    width: 90%;
}
.homeImage {
    width: 30%;
}
main p {
    margin: auto;
}
.blinkie {
    width: 300px;
}
.eightyEightButton {
    height: 31px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}
.thought p {
    margin: 15px auto;
    max-width: 500px;
    padding: 30px;
    border: 3px solid black;
    border-radius: 100px;
    background-color: antiquewhite;
    color: black;
}
