@font-face {
    font-family: Chicago;
    src: url('../resources/ChicagoFLF.ttf');
}
html {
    font-family: Chicago;
    text-align: center;
    font-size: large;
}

header {
    background-image: url(../images/backgrounds/circuit.png);
    padding-top: 1px;
    color: antiquewhite;
}

.siteBody {
    background-image: url(../images/backgrounds/article.png);
    margin-bottom: 5px;
    max-width: 900px;
    margin: auto;
}

.thought p {
    margin: 15px auto;
    max-width: 500px;
    padding: 30px;
    border: 3px solid black;
    border-radius: 100px;
    background-color: antiquewhite;
    color: black;
}

/* navigation bar */
.navbar a {
    color: yellow;
}

.extLink {
    background-color: black;
    display: inline-table;
    padding: 10px 10px 0 ;
    margin: 10px;
    font-size: medium;
    max-width: 40%;
}

/* gallery seelct custom width */
#gallerySelect {
    width: fit-content;
}
/* display as table */
#gallerySelect nav {
    display: inline-table;
    padding: 0 10pt;
}

.video {
    display: contents;
}
iframe {
    aspect-ratio: 4/3;
    width: 90%;
}
.project {
    max-width: 900px;
    padding: 1px;
    margin: 5px auto ;
    background-image: url(../images/backgrounds/article.png);
}
#counter {
    background-color: antiquewhite;
    margin: 10px auto ;
    width: fit-content;
    padding: 0 15px;
    font-size: small;
    border: 3px double rgb(65, 16, 16);
}

/* images */
.largeImg {
    width: 90%;
}
.smallImg {
    width: 30%;
}
.button img {
    height: 31px;
}

.blinkie img {
    height: 30px;
}
marquee img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

/* set page border to nothing and display page background*/
body {
    background-image: url(../images/backgrounds/catGround.png);
    margin: auto;
}